:root {
    --primary-brand-color: #4D5AE5; /* IRIS */
    --title-color: #2E2F42; 
    --dark-color: #2E2F42; /* NAVY BLUE */
    --main-text-color: #434455; /* SLATE */
    --subtle-text: #8E8F99; /* LIGHT SLATE */
    --accent-color: #E7E9FC; /* CORNFLOWER */
    --light-collor: #F4F4FD; /* CLOUD */
    --button-hover-color: #404BBF;
}
body {
    font-family:  'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.btn {
    font-family: inherit;
    cursor: pointer;
}
.btn:hover, .btn:focus {
    font-family: inherit;
    background-color: var(--button-hover-color);
    color: #ffffff;
}

/*---------- HEADER ------------ */

.header {
    background-color: #ffffff;
}
.header-navigation {
}
.header-logo {
    font-family: 'Raleway',  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}
.header-logo span {
    color: var(--primary-brand-color);
}
.header-list {
}
.header-item {
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.header-link:hover, 
.header-link:focus,
.header-link.current,
.contacts-link:hover, 
.contacts-link:focus {
    color: var(--primary-brand-color);
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*---------- HERO ------------ */

.hero {
    background-color: var(--dark-color);
}
.hero-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-btn {
    padding: 16px 31px;
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2; 
    letter-spacing: 0.04em;
    color: #ffffff;
}

/*---------- SKILLS ------------ */

.skills {
}
.skills-title {
}
.skills-list {
}
.skills-item {
}
.skills-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.skills-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*---------- What are we doing ------------ */

.works {
}
.works-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(----dark-color);
}
.works-list {
}
.works-item {
}

/*---------- TEAM ------------ */

.team {
    background-color: var(--light-collor);
}
.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}
.team-list {
}
.team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: none;
    border-radius: 0px 0px 4px 4px;
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*---------- PORTFOLIO ------------ */

.portfolio {
}
.portfolio-title {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
    padding: 12px 24px;
    background-color: var(--light-collor);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
}
.filters-btn:hover, .filters-btn:active {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
}
.portfolio-list {
}
.portfolio-item {
    background-color: #ffffff;
    border: 0.5px solid var(--light-collor);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*---------- FOOTER ------------ */

.footer {
    background-color: var(--dark-color);
}
.footer-logo {
    font-family: 'Raleway',  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-collor);
}
.footer-logo span {
    color: var(--primary-brand-color);
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-collor);
}

